*{
    /* reset */
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

.clear{
    clear:both;
}

#main{

}

#header{
    height: 46px;
    background-color:rgb(36, 31, 58);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
}

#nav{
    display: inline-block;
}

#nav .nav-arrow-down{
    font-size: 14px;
}

#header .search-icon{
    color:#fff;
    font-size: 20px;
    float: right;
    line-height: 46px;
    padding: 0 21px;
}

#header .search-icon:hover{
    background-color: #f44336!important;
    cursor: pointer;
}

#nav, .subnav{
    list-style-type: none;

}

#nav li{
    position: relative;
}

#nav > li{
    display: inline-block;

}

#nav > li > a{
    text-transform: uppercase;
    color:#fff;
}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

 #nav li:hover .subnav{
    display: block;
 } 


#nav > li:hover > a,
#nav .subnav li:hover{
    color:#000;
    background-color: #ccc;
}

#nav .subnav{
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#nav .subnav a{
    color:black;
    padding: 0 12px;
    line-height: 38px ;
    width: 235px;
}



#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/MISS_AOV_WaVe_IDOL/assets/img/theme-wave.jpg') top center / cover no-repeat ; 
    
}

#slider .text-content{
    position: absolute;
    bottom: 30px;
    color:#fff;
    width: 100%;
    text-align: center;
}

#slider .text-heading{
    font-weight: 500px;
    font-size: 60px;
}

#slider .text-description{
    margin-top: 25px;
    font-size: 30px;
}

#content{

}

#content .content-section{
    width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
}

#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    opacity: 0.6;          /* độ trong suốt (60%) */
    font-style: italic;    /* chữ nghiêng */

}

#content .about-text{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;   /* căn đều 2 bên */
    line-height: 1.4;      /* độ cao của dòng */
}

#content .member-list{
    margin-top:48px;
    overflow: hidden;
}

#content .member-item{
    float: left;
    width: calc(100%/4);
    text-align: center;
}

#content .member-name{
    font-size: 20px;
}

#content .member-img{
    margin-top: 15px;
    width: 154px;
    height: 231px;
    border-radius: 4px;
}
/* profile */
#content .about{
    margin-top: 30px;
}

#content .about-member{
    margin-bottom: 50px;
}

#content .about-img{
    margin-top: 35px; 
    width: 200px;
    height: 298px;
    float: left;
}


#content .about-name{
    font-size: 30px;
    font-style: italic;
    text-align: center;
}
 

#content .text-sub-about{
    padding-top: 53px;      
    font-size: 35px;  
    margin-left: 281px;  
 
}

/* end profile */

/* mv begin */

#content .mv-section{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#content .mv-content-heading{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 14px;
}

#content .mv-img{
    width: 360px;
    height: 200px;
    float: left;
}

#content .mv-title{
    display: block;
    margin-left: 374px;
    text-decoration: none;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color:#000;
}

#content .mv-creator{
    display: block;
    margin-left: 374px;
    text-decoration: none;
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(71, 71, 71);
    margin-top: 12px;
}

#footer{

}
